includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/
        - config/
    level: 5
    ignoreErrors:
        -
            message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
            identifier: larastan.noEnvCallsOutsideOfConfig
            count: 7
            path: config/runpod.php
        -
            message: '#^Trait ChrisThompsonTLDR\\LaravelRunPod\\Concerns\\RefreshesRunPod is used zero times and is not analysed\.$#'
            identifier: trait.unused
            count: 1
            path: src/Concerns/RefreshesRunPod.php
