parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 35
			path: config/runpod.php

		-
			message: '#^Trait ChrisThompsonTLDR\\LaravelRunPod\\Concerns\\RefreshesRunPod is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/RefreshesRunPod.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/RunPodPodManager.php
